header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  background-color: orange;
  color: black;
}

.traveler-container {
  border: blueviolet solid 4px;
  border-radius: 24px; 
  background-color:darkslateblue;
  width: 400px;
}

footer {
  position: fixed;
  height: 50px;
  background-color: darkslategray;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}